<div class="container pb-5">
  <div class="row">
    <h4 class="text-uppercase">Места проведения</h4>
    <div class="title-line mb-2">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-3 img-holder">
      <img src="/assets/congress-hall.png" alt="">
      <span class="img-label text-uppercase">Конгресс-Центр <br> Астана</span>
    </div>
    <div class="col-3 img-holder">
      <img src="/assets/hilton.png" alt="">
      <span class="img-label text-uppercase">отель hilton <br> astana</span>
    </div>
    <div class="col-3 img-holder">
      <img src="/assets/expo.png" alt="">
      <span class="img-label text-uppercase">мфца <br> (блок с4.4)</span>
    </div>
    <div class="col-3 img-holder">
      <img src="/assets/korme.png" alt="">
      <span class="img-label text-uppercase">Выставочный <br> центр корме</span>
    </div>
  </div>
</div>