@import "/../myProject2/src/styles.scss";

.stretched-tabs {
  box-shadow: none !important;
  background: white !important;
}

h5 {
  color: $white-transparent !important;
}

h6 {
  color: #001122 !important;
  font-size: 14px;
}

::ng-deep.mat-tab-label-active {
  border-bottom: 1.2px solid $gold;
  margin-bottom: 15px !important;
  h5 {
    color: $gold !important;
  }
}

::ng-deep.mat-tab-header {
  width: 60%;
  align-self: center;
}

::ng-deep.mat-ink-bar {
  visibility: hidden !important;
}

.mat-expansion-panel,
mat-panel-title {
  background: transparent !important;
  color: #001122 !important;
  box-shadow: none !important;
  font-weight: 600;
}

::ng-deep.mat-expansion-indicator,
::ng-deep.mat-expansion-indicator::after {
  color: #001122 !important;
  margin-right: 10px;
}

::ng-deep.mat-expansion-panel-body{
  padding: 0 !important;
}

.bordered{
  border: 1px solid #E8E8F3;
  max-width: 900px;
}

.border-bottom{
  border-bottom:1px solid #E8E8F3;
}


