<div class="container top-block pt-3">
    <div class="row align-items-center">
      <div class="col-6 countDown d-flex mt-3">
        <div class="days text-center mx-2">
          <span>{{days}}</span>
          <p class="text-uppercase">дней</p>
        </div>
        <span>:</span>
        <div class="days text-center mx-2">
          <span>{{hours}}</span>
          <p class="text-uppercase">часов</p>
        </div>
        <span>:</span>
        <div class="days text-center mx-2">
          <span>{{minutes}}</span>
          <p class="text-uppercase">минут</p>
        </div>
        <span>:</span>
  
        <div class="days text-center mx-2">
          <span>{{seconds}}</span>
          <p class="text-uppercase">секунд</p>
        </div>
      </div>
      <div class="col-6 lang-btns text-end">
        <button class="btn white-btn text-uppercase me-3 px-2 active">ru</button>
        <button class="btn white-btn text-uppercase me-3 px-2">kz</button>
        <button class="btn white-btn text-uppercase me-3 px-2">en</button>
        <button class="btn white-btn text-uppercase me-3 px-2">fr</button>
        <button class="btn white-btn text-uppercase me-3 px-2">sp</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        
      </div>
    </div>
  </div>